<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>

		<div id="app">
			{{message }}
		</div>

		<div id="app-2">
			<span v-bind:title="message">
				鼠标悬停几秒钟查看此处动态绑定的提示信息！
			</span>
		</div>

		<!-- 控制显隐 -->
		<div id="app-3">
			<p v-if="sean">现在你看到我了</p>
		</div>

		<!-- 列表 -->
		<div id="app-4">
			<ol>
				<li v-for="todo in todos">
					{{todo.text}}
				</li>
			</ol>
		</div>

		<!-- 响应事件 -->
		<div id="app-5">
			<p>{{message}}</p>
			<button type="button" v-on:click="reverseMessage">反转消息</button>
		</div>

		<!-- 双向绑定 -->
		<div id="app-6">
			<p>{{ message }}</p>
			<input v-model="message">
		</div>

		<div id="app-7">
			<ol>
				<!-- 创建一个 todo-item  组件的实例 -->
				<!--   现在我们为每个 todo-item 提供 todo 对象 todo 对象是变量，即其内容可以是动态的。 我们也需要为每个组件提供一个“key” -->
				<todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
			</ol>
		</div>

		<div id="app-8">
			{{a}}
		</div>

		<div id="app-9" v-bind:class="color">
			Msg:{{msg}}
			<a v-on:click="doSometing(this)">MMMM</a>
			<button type="button" onclick="doSometing()">sssss</button>
			<button type="button" v-on:click="doSometing(1122)">aaaa</button>

			<a v-bind:href="url">网页</a>
		</div>

		<div id="app-10">
			<p>Original message: {{message}}</p>
			<p>Computed reversed message :{{reverseMessage}}</p>
			<p>Computed time :{{computedTime}}</p>
			<p>Method time :{{methodTime()}}</p>
			<p>firstName:{{firstName}}</p>
			<p>lastName:{{lastName}}</p>
			<p>fullName:{{fullName}}</p>
			<input v-model="fullName" />
		</div>

		<!-- Class 与 Style 绑定 -->
		<div class="static" v-bind:class="{active:isActive ,'text-danger':!isActive}" id="app-11">
			<p v-bind:class="classObject"> active</p>
			<p v-bind:class="[{ active: isActive }, hasError]">正则</p>
			<p style="color: aquamarine;">原生颜色修改</p>
			<p v-bind:style="styleObject">v-bind:style设置</p>
		</div>

		<!-- 条件渲染 -->
		<div id="app-12">
			<!-- 显示隐藏 -->
			<h1 v-if="awesome">Vue is awesome</h1>
			<h1 v-else>Oh on ！</h1>
			<!-- template元素相当于一个容器 -->
			<template v-if="awesome">
				<h1>Tile</h1>
				<p>Paragraph1</p>
				<p>Paragraph2</p>
			</template>
			<!-- 多重选择 -->
			<p v-if="pType==1">A</p>
			<p v-else-if="pType==2">B</p>
			<p v-else-if="pType==3">C</p>
			<p v-else>D</p>
			<!-- 复用元素 -->
			<template v-if="loginType === 'username'">
				<label>Username</label>
				<input placeholder="Enter your username">
			</template>
			<template v-else>
				<label>Email</label>
				<input placeholder="Enter your email address">
			</template>
			<button v-on:click="changeLoginType">Toggle login type</button>
		</div>
		<div id="app-13">
			<button type="button" @click="req">req</button>
			<button type="button" @click="reqlocal">req local</button>
		</div>
	
	</body>
	<!-- 引入本地vue.js -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="module" src="./js/main.js"></script>
	<script type="text/javascript" src="js/vue.js"> </script>
	<script type="text/javascript" src="js/dome1.js"></script>
	<!-- 引入cdnvue.js -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<style type="text/css">
		.red {
			color: red;
		}

		.blue {
			color: blue;
		}
	</style>
</html>
